<div class="mb-4">
  <h1>{{ hostedGame.title }}</h1>
</div>

<!-- TODO : Game PIN Component-->
<div class="row">
  <h2 class="alert">Game PIN</h2>
  <h2 class="alert alert-warning text-center">
    {{ hostedGame.pin }}
  </h2>
</div>

<!-- TODO : Add bingo playing visual -->

<!-- TODO : Bingo playing buttons -->
<div class="text-center">
  <hr>
  <button
    class="btn btn-lg btn-success"
    (click)="nextBall()">
    <i class="fa fa-play">&nbsp;</i>NEXT BALL
  </button>
  <button
    class="btn btn-lg btn-danger ml-3"
    (click)="stopGameModalVisible = true">
    <i class="fa fa-close">&nbsp;</i>STOP
  </button>
  <hr>
</div>

<app-stop-game-modal
  *ngIf="stopGameModalVisible"
  (confirm)="stopGame()"
  (cancel)="stopGameModalVisible = false">
</app-stop-game-modal>

<!-- TODO : Make into component that polls for players (until startedAt) -->
<div class="text-center">
  <h2>Registered Players ({{ players.length }})</h2>
  <!-- TODO : Max player name length -->
  <h4 class="player" *ngFor="let player of players">
    {{ player }}
  </h4>
</div>
