<!-- TODO : Split component into smaller ones in subfolders -->

<div class="mb-4">
  <h1>
    {{ title }} (#{{ gameId }})
  </h1>
  <h5>{{ description }}</h5>
</div>

<div *ngIf="!started">
  <div class="mb-4">
    <h2>Access code</h2>
    <h2 class="alert alert-warning text-center">
      {{ code }}
    </h2>
  </div>
  <div class="alert text-center">
    <button class="btn btn-success m-2" (click)="startGame()"><i class="fa fa-play">&nbsp;</i>START GAME</button>
    <button class="btn btn-danger m-2" (click)="cancelGame()"><i class="fa fa-close">&nbsp;</i>CANCEL GAME
    </button>
  </div>
</div>

<div *ngIf="started">
  <!-- TODO : Add bingo playing visual -->
  <div class="alert text-center">
    <button class="btn btn-success m-2" (click)="nextBall()"><i class="fa fa-play">&nbsp;</i>NEXT BALL</button>
    <button class="btn btn-danger m-2" (click)="stopGame()"><i class="fa fa-close">&nbsp;</i>STOP GAME</button>
  </div>
</div>

<app-modal *ngIf="stopGameModalVisible"
           [title]="'Confirmation'"
           [confirmButtonIcon]="'close'"
           [confirmButtonClass]="'danger'"
           [confirmButtonText]="'STOP GAME'"
           [cancelButtonIcon]="'play'"
           [cancelButtonClass]="'success'"
           [cancelButtonText]="'KEEP GOING'"
           (confirm)="confirmStopGame()"
           (close)="cancelStopGame()"
           (cancel)="cancelStopGame()">
  <h5>Are you sure you want to stop the game?</h5>
</app-modal>

<div class="text-center">
  <!-- TODO : Make into component that polls for players (until started) -->
  <h2>Registered Players ({{ players.length }})</h2>
  <!-- TODO : Max player name length -->
  <h4 class="player" *ngFor="let player of players">
    {{ player }}
  </h4>
</div>
