.bingo-card {
  margin: 0 auto;
  max-width: 400px;
  border:1px solid #000;
}

.card-row {
  border-bottom:1px solid #000;
  padding: 0;
}

.card-row:last-child {
  border-bottom: 0;
}

.card-row app-card-cell:nth-child(5) .inner-cell {
  border-right: 0;
}

.name {
  max-width: 400px;
  border-bottom:1px solid #000;
  margin: 0 auto;
  color: #fff;
  font-weight: bold;
  line-height: 1.8em;
}
